<section class="full-width full-height nav-padded">
  <div class="collection-wrapper">

    <!-- Display the collection description if one exists. -->
    {% unless collection.description == '' %}
    <!-- TODO Make this look good -->
    <header class="page-header">
      <h1>{{ collection.title }}</h1>
    </header>
    <p class="lead">{{ collection.description }}</p>
    {% endunless %}

    <div class="row">

      <!-- Products -->
      {% if collection.products.size == 0 %}
      <div class="panel panel-default">
        <div class="panel-body">
          No products found in this collection.
        </div>
      </div>
      {% else %}
      <!-- Include product list. -->
      {% for product in collection.products %}
      {% include 'product-list' with '2' %}
      {% endfor %}
      {% endif %}
    </div>
  </div>
</section>