{% assign page = pages.frontpage %}

<section class="full-width full-height">
  <div class="video-wrapper full-width full-height">
    <video id="video-background" poster="{{ 'video-homepage.jpg' | asset_url }}" autoplay loop muted plays-inline webkit-playsinline>
      <source src="{{ 'video-homepage.mp4' | asset_url }}" type="video/mp4">
    </video>
  </div>
</section>