<section class="full-width full-height asili-grid-wrapper" data-background-color="{{ page.metafields.asili_page.page_background_color }}">
  <div class="asili-grid-half asili-grid-image-background fades-in">
    <img src="{{ page.metafields.asili_page.page_image }}" data-position="{{ page.metafields.asili_page.page_image_position }}" onload="backgroundLoaded(this)">
  </div>
  <div class="asili-grid-half asili-grid-content">
    <div class="content-wrapper">
      {{ page.content }}
    </div>
  </div>
</section>

{% include 'background-color' %}