<section class="full-width full-height asili-grid-wrapper" data-background-color="{{ page.metafields.asili_page.page_background_color }}">
  <div class="asili-grid-half asili-grid-image-background fades-in">
    <img src="{{ page.metafields.asili_page.page_image }}" data-position="{{ page.metafields.asili_page.page_image_position }}" onload="backgroundLoaded(this)">
  </div>
  <div class="asili-grid-half asili-grid-content">
    <div class="content-wrapper">
      {{ page.content }}
    </div>
  </div>
</section>

<script>
  var asiliGrid = document.getElementsByClassName("asili-grid-wrapper")[0];
  var pageBackgroundColor = asiliGrid.dataset.backgroundColor;
  if (pageBackgroundColor) {
    asiliGrid.style.backgroundColor = pageBackgroundColor;

    // Check if the color is dark
    var c = pageBackgroundColor.substring(1);      // strip #
    var rgb = parseInt(c, 16);   // convert rrggbb to decimal
    var r = (rgb >> 16) & 0xff;  // extract red
    var g = (rgb >>  8) & 0xff;  // extract green
    var b = (rgb >>  0) & 0xff;  // extract blue

    var luma = 0.2126 * r + 0.7152 * g + 0.0722 * b; // per ITU-R BT.709

    if (luma < 40) {
      document.body.className += " dark";
    }
  }
</script>